* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px; /* Adjust as needed */
    overflow: hidden; /* Hide overflow */
}

.leftContainer, .rightContainer {
    position: relative;
    width: 45%; /* Adjust as needed */
    height: 100%; /* Full height to mask overflow */
    overflow: hidden; /* Hide overflowing images */
}

.left, .right {
    position: absolute; /* Allow absolute positioning for animation */
    width: 100%; /* Make images fill the container */
    transition: transform 0.5s ease; /* Smooth transition for movement */
    display: flex;
    flex-direction: column;
}

.left{
    transform: translateY(-85%); /* Move up */
}

.image {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
}

.animate_up {
    animation: slide_up 0.5s ; /* Animation for sliding up */
    animation-fill-mode: forwards;
}

.animate_down {
    animation: slide_down 0.5s; /* Animation for sliding down */
    animation-fill-mode: forwards;
}

@keyframes slide_up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(450px); /* Move up */
    }
}

@keyframes slide_down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-450px); /* Move down */
    }
}

.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrowButton {
    cursor: pointer;
    font-size: 24px;
    margin: 10px 0; /* Space between buttons */
    user-select: none; /* Prevent text selection */
    background: none;
    border: none;
    color: #333;
}
