.contenedorImagen{
    margin-top: 5%;
    /* background-color: beige; */
}

/* bien */
.contenedorPrincipal{
    width: 60%;
    height: 100%;
    display: flex;
    /* background-color: aquamarine; */
 
    margin:auto;
    flex-direction: column;
    text-align: center;
}

/* bien */
.contenedorCarrusel{
    margin-top: 40px;
    margin-bottom: 45px;
    height: 100%;
    /* width: 100%; */
    background-size: cover;
    background-color: rgba(56, 56, 56, 0.658);
    text-align: center;
}

/* bien */
.carousel{
    background-color:rgba(129, 129, 129, 0.616)56, 56, 56, 0.658) ;
    width: 95%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.carouselItem{
    width: 100px;
    height: 650px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
}

.carouselItemDiv{
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: azure; */
}

.imageDiv{
    width: 90%;
    height: 100%;
    z-index: 100;
    display: flex;
   margin: auto;
   /* background-color: bisque; */
}


.imagen{
    height: 95%;
    display: flex;
    margin: auto;
}
.comentariosDiv{
    /* background-color: aqua; */
}

@media all and (max-width: 700px){
    .contenedorPrincipal{
        width:100%;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .contenedorCarrusel{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .carousel{
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .imagen{
        margin: 10px;
        width: 300px;
        height: 320px;
        margin-left: auto;
        margin-right: auto;

    }

    .comentariosDiv{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}
