.contenedorPrincipal{
    margin-top:5px;
    margin-bottom: 5px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.contAccordion{
    width: 1200px;
}

button {
    margin: 3px;
}

@media all and (max-width: 700px){
    .contenedorPrincipal{
        width: 100%;
        margin-left: auto;
        margin-right: auto;   
    }
    .contAccordion{
        width: 95%;
        margin-left: auto;
        margin-right: auto;    
    }
}