.contenedorPrincipal{
    width: 100%;
    height: 200px;
    padding: 0 3em;
    display: flex;
    align-items: center;
    background-color: black;
    color:rgba(255, 255, 255, 0.895);
    z-index: -2000;
}

.lista{
    list-style-type: none;
    margin-left: 5%;
    width:190px;
}
.botonDestino, li{
    padding: 0;
    margin: 0;
    background-color: transparent;
    -webkit-transition: all .2s;
    transition: all .2s;
    float: left;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: start;
    cursor: pointer;
    border-color: transparent;
}


.contenedorImagen{
    margin-left:200px;
    display: flex;
}

.imagen{
    height: 80px
}
.imagen1{
    height: 40px;
    position: relative;
    top: 20px;
}

.footerWrapperDiv{
    display: flex;
    flex-direction: column;
}

.contenedorLista :hover, .boton :hover, .botonDestino :hover{
    color: rgba(207, 151, 46, 0.944);
    cursor: pointer;
}

.contText{
    margin-left: 50px;
}

.text{
    font-size: 15px;
}

.boton{
    margin-left: 5px;
    border-radius: 50%;
    text-align: center ;
    width: 40px;
    height: 40px;
}

.contenedorTable{
    height: 180px;
    width: 400px;
    margin-top: 0px;
    margin-left: 100px;
}

.stiloTabla{
    margin-top: 0px;  
}

@media all and (max-width: 700px){
    .contenedorPrincipal{
        display: flex;
        flex-direction: column;
        text-align: start;
        margin: auto;
        height: max-content;
        width: 100%;
    }
    
    .contenedorImagen{
        width: 100%;
        margin-left:0px;
        display: flex;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    
    .imagen{
        height: 80px
    }
    .imagen1{
        height: 30px;
        position: relative;
        
    }
    .contLista{
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    .contenedorLista, .contText{
        width: 100%;
        margin-left: -50px;
    }

    .conText, .contenedorTable, .contLista, .footerWrapperDiv{
        margin-top: 50px;
    }

    .contenedorLista{
        width: 100%;
    }

    .botonNav, .text{
        font-size: 20px;
        text-align: start;
        margin: auto;
        width :100%;
        margin-bottom: 10px;
    }
    .stiloTabla{
        display: none;  
        margin: auto;
    }
    .botonDestino{
        margin: auto;
        margin-top: 10px;
    }
    .botonDestino:hover{
        background-color: rgba(207, 151, 46, 0.944)
    }
    .footerWrapperDiv{
        display: flex;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .contenedorTable{
        display: none;
    }

    .contText, .contLista, .contenedorImagen{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .text{
        text-align: justify;
    }
}